# Creating candlestick charts for financial analysis

In this project, we are going to create candlestick plots which show the minute-by-minute activity of a particular stock. We are going to

- Load the relevant stock data
- Group the data in 15 minute increments
- For each increment, compute the open and close price
- For each increment, compute the min and max price over that 15 minute period
- Plot the bar plots, i.e, candlesticks, over time, overlayed with the min/max

To do this, we will need to import a few libraries for processing the data:

```python
import yfinance as yf
import pandas as pd
import numpy as np
```

To get you started, to download the historical data run

```python
stock_data = yf.download(tickers=STOCK_SYMBOL, period="1d", interval="1m")
```

where the ticker symbol can be anything, e.g., SPY, NVDA, etc. This will return the stock price at 1 minute intervals for the last day. The output will be a ```pandas.DataFrame``` with columns for the open, close, etc. prices, indexed by the datetime. Use the ```pandas.Grouper``` function to group the dataset in 15 minute increments and use the ```agg``` function to perform operations on those groups, e.g., to get the lowest or first price within that 15 minute interval, etc. 

Finally, for plotting, feel free to use whatever you want, but try to use an interactive plotting library like vega altair, which allows you to hover over points on the graph to see the corresponding values. This last part can be a little tricky but it'll look nice. Here is an example. 

<a href="candlestick.html">Candlestick Plot Example</a>

In [3]:
import yfinance as yf
import pandas as pd
import numpy as np

/Users/tomazws/Library/Python/3.9/lib/python/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

In [37]:
stock_data = yf.download(tickers='AAPL', period='1d', interval='1m')

stock_data.head()

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2024-06-12 09:30:00-04:00,207.360001,208.000000,206.910004,207.835007,207.835007,7180035
2024-06-12 09:31:00-04:00,207.809998,208.470001,207.740005,208.130005,208.130005,1182361
2024-06-12 09:32:00-04:00,208.139893,208.748993,207.429993,208.440002,208.440002,1211184
2024-06-12 09:33:00-04:00,208.460007,209.169998,208.220001,209.082504,209.082504,961532
2024-06-12 09:34:00-04:00,209.100006,209.839996,208.970001,209.779999,209.779999,1111383

In [39]:
stock_data = stock_data.reset_index()

stock_data.head()

,Datetime,Open,High,Low,Close,Adj Close,Volume
0,2024-06-12 09:30:00-04:00,207.360001,208.000000,206.910004,207.835007,207.835007,7180035
1,2024-06-12 09:31:00-04:00,207.809998,208.470001,207.740005,208.130005,208.130005,1182361
2,2024-06-12 09:32:00-04:00,208.139893,208.748993,207.429993,208.440002,208.440002,1211184
3,2024-06-12 09:33:00-04:00,208.460007,209.169998,208.220001,209.082504,209.082504,961532
4,2024-06-12 09:34:00-04:00,209.100006,209.839996,208.970001,209.779999,209.779999,1111383

In [44]:
df = stock_data.groupby(
    pd.Grouper(freq='15min', key='Datetime')
).agg({
    'Open': 'first',
    'High': 'max',
    'Low': 'min',
    'Close': 'last'
})

df.head()

                                 Open        High         Low       Close
Datetime
2024-06-12 09:30:00-04:00  207.360001  212.389999  206.910004  211.830002
2024-06-12 09:45:00-04:00  212.020004  214.990005  211.820007  214.255005
2024-06-12 10:00:00-04:00  214.289993  215.990005  214.210007  215.119995
2024-06-12 10:15:00-04:00  215.119995  215.669998  214.649994  215.235001
2024-06-12 10:30:00-04:00  215.220001  216.289993  214.679993  215.434998